*{
    margin: 0;
}
.mbcontainer{
    width: 100%;
    height: 100vh;
}
.mbheader{
    width: 100%;
    height: 5%;
    background-color: black;
}
.mbmenu{
    width: 100%;
    height: 5%;
    background-color: red;
}
.mbhero{
    width: 100%;
    height: 20%;
    background-color: blue;
}
.mbmain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: darkblue;
}
.mbbanner{
    width: 100%;
    height: 16.6666666667%;
    background-color: yellow;
}
.mbextra{
    width: 100%;
    height: 16.6666666667%;
    background-color: aquamarine;
}
.mbimage{
    width: 100%;
    height: 16.6666666667%;
    background-color: grey;
}
.container{
    width: 100%;
    height: 100vh;
}
.container2{
    width: 100%;
    height: 5%;
    display: flex;
}
.header{
    width: 20%;
    height: 100%;
    background-color: black;
}
.menu{
    width: 80%;
    height: 100%;
    background-color: crimson;
}
.hero{
    width: 100%;
    height: 50%;
    background-color: aqua;
}
.container3{
    width: 100%;
    height: 30%;
    display: flex;
}
.main{
    width: 50%;
    height: 100%;
    background-color: darkblue;
}
.mainextra{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-end ;
}
.image{
    width: 50%;
    height: 50%;
    background-color: gray;
}
.extra{
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}
.banner{
    width: 100%;
    height: 15%;
    background-color: yellow;
}